span@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family:'Cardenio Modern';
	src: url('fonts/CardenioModern-Bold.eot');
	src: url('fonts/CardenioModern-Bold.eot?#iefix') format('embedded-opentype');
 	src: url('fonts/CardenioModern-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
  font-family: "Cardenio Modern";
  src: url('fonts/CardenioModern-Bold.woff') format('woff');
}

body{
	background:url(images/background_blue.png) no-repeat center center fixed;
	background-size:cover;  
	font-family: 'Cardenio Modern' !important;
	font-weight: bold;
	font-style: normal;
}

.location-bg{
	background:url(images/background_blue.png) no-repeat center center fixed;
	background-size:cover;
	}
.report-bg{
	background:url(images/background_brown.png) no-repeat center center fixed;
	background-size:cover;
	}
.user-bg{
	background:url(images/background_rade.png) no-repeat center center fixed;
	background-size:cover;
	}
.refill-bg{
	background:url(images/background_green.png) no-repeat center center fixed;
	background-size:cover;
	}
.theft_control-bg{
	background:url(images/background_blue.png) no-repeat center center fixed;
	background-size:cover;
	}
.itemc-bg{
	background:url(images/background_brown.png) no-repeat center center fixed;
	background-size:cover;
	}
.mainwrapper{
	width:100%;
	float:left;
	position:relative;
	}
section{
	width:100%;
	float:left;
	position:relative;
	}
header{
	background:rgba(255,255,255,0.13);
	padding:20px 0;
	width:100%;
	float:left;
	position:relative;
	}
header h2{
	color:#80382B;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	margin:0;
	}
.body_header{
	width: 100%;
    float: left;
    position: absolute;
    z-index: 9;
    margin-top: 20px;
	}
.body_header .logo{
	max-width:126px;
	height:auto;
	position:relative;
	display:block;
	margin:auto;
	}
.body_header .logo img{
	width:100%;
	float:left;
	}
.body_header .contact{
	width:auto;
	float:right;
	position:relative;
	}
.body_header .contact h3{
	color:#80382B;
	font-size:24px;
	font-weight:bold;
	margin:0;
	float:left;
	line-height:46px;
	margin-right:20px;
	}
.body_header .contact ul{
	width:auto;
	float:left;
	position:relative;
	padding-left:0;
	margin:0;
	}
.body_header .contact ul li{
	display:inline-block;
	list-style:none;
	margin-left:8px;
	}
.body_header .contact ul .logout-bg{
	background:url(images/logout-btn.png) left center no-repeat;
	background-size:cover;
	width:102px;
	height:40px;
	float:left;
	-webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
	filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
	}
.body_header .contact ul .logout-bg:active{
	-webkit-filter:none;
	filter:none;
	}
.body_header .contact ul .admin-bg{
	background:url(images/admin-btn.png) left center no-repeat;
	background-size:cover;
	width:102px;
	height:40px;
	float:left;
	-webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
	filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
  	}
.body_header .contact ul .admin-bg:active{
	-webkit-filter:none;
	filter:none;
	}

	
.body_content{
    width: 100%;
    float: left;
    position: relative;
    padding-top: 60px;
	}
.body_content_tab{
    width: 10%;
    height: auto;
    float: left;
    position: absolute;
    min-width: 110px;
	z-index:9;
	}
.body_content_tab ul{
	width:auto;
	float:left;
	position:relative;
	padding-left:0;
	margin:0;
	}
.body_content_tab ul li{
	display: list-item;
    list-style: none;
	max-width:100px;
	}
.body_content_tab ul li a{
	width:100%;
	position:relative;
	float:left;
	margin-top:5px;
	}
.body_content_tab ul li .active{
	margin-left:40px;
	}
.body_content_tab ul li a img{
	width:100%;
	position:relative;
	float:left;
	}
	
	
.body_content_view{
	width:100%;
	float:left;
	position:relative;
	padding-left:116px;
	}
.index_cont{
	background:url(images/table-bg.png) top center no-repeat;
	background-size:cover;
	width:100%;
	}
.body_content_view_main{
	width:100%;
	min-height:670px;
	float:left;
	position:relative;
	}
.body_content_view_header{
    width: 100%;
    max-height: 123px;
    float: left;
    padding: 34px;
    position: relative;
	}
.body_content_view_header img{
	width:auto;
	height:auto;
	float:left;
	position:relative;
	}
.body_content_view_header h2{
	font-size:48px;
	color:#FFB0A2;
	float:left;
	margin:0 0 0 15px;
	line-height:44px;
	font-weight:bold;
	}
.body_content_view_header_secrch{
	width:315px;
	height:auto;
	float:right;
	position:relative;
	z-index:999;
	}
.body_content_view_header_secrch .text{
	background:url(images/search-bg.png) left center no-repeat;
	width:100%;
	height:40px;
	float:left;
	position:relative;
	padding:10px 10px 10px 48px;
	border:none;
	outline:0px !important;
	}
.text::-webkit-input-placeholder {
   color: #80382B;
	}
.text:-moz-placeholder { /* Firefox 18- */
   color: #80382B;  
	}
.text::-moz-placeholder {  /* Firefox 19+ */
   color: #80382B;  
	}
.text:-ms-input-placeholder {  
   color: #80382B;  
	}
.body_content_view_header_secrch .submit{
	background:url(images/search-icon.png) center center no-repeat;
	width:46px;
	height:40px;
	float:left;
	position:absolute;
	left:0;
	top:0;
	border:none;
	}
	
.body_content_view_content{
	width:100%;
	height:auto;
	float:left;
	position:relative;
	padding:0 10px;
	}
.body_content_view_content_top{
	width:100%;
	float:left;
	position:relative;
	padding:15px 15px;
	}
.body_content_view_content_top h3{
	font-size:24px;
	color:#80382B;
	float:left;
	font-weight:bold;
	}
.body_content_view_content_top span{
	font-size:16px;
	color:#80382B;
	float:right;
	margin-left:40px;
	margin-top:24px;
	}
.body_content_view_content_top span a{
	float:right;
	color:#80382B;
	margin-left:20px;
	}
.body_content_view_content_top span img{
	float:right;
	color:#80382B;
	margin-left:20px;
	margin-top:4px;
	}
.body_content_view_content_top span #current_page{
	float:left;
	}
.body_content_view_content_top span a:hover{
	text-decoration:none !important;
	color:#80382B;
	}
.body_content_view_content_top span a:active{
	text-decoration:none !important;
	color:#80382B;
	}
.body_content_view_content_top span a:active, a:focus{
	text-decoration:none !important;
	color:#80382B;
	}
.body_content_view_content_table{
    width: 100%;
    float: left;
    padding: 0 20px;
    position: relative;
	}
.body_content_view_content_table .minus-user{
	background:url(images/Minus_item.png) left center no-repeat;
	padding-left:20px;
	width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
	top:10px;
	}

.body_content_view_content_table tr td{
border: inherit !important;
   color: #80382B !important;
   font-size: 16px;
	}
.body_content_view_content_table thead{
	background:url(images/titlebar-bg.png) left center no-repeat;
    width: 100%;
    position: relative;
	}
.body_content_view_content_table thead tr{
	display: flex;
    width: 100%;
    position: relative;
	}
.body_content_view_content_table thead tr th{
    width: 100%;
    position: relative;
	}
.body_content_view_content_table tbody{
    width: 100%;
	flex: left;
    position: relative;
	}


.body_content_view_content_table tbody tr{
	display: flex;
    width: 100%;
    position: relative;
	}
.body_content_view_content_table tbody tr td{
    width: 100%;
    position: relative;
	}

.body_content_view_content_table thead .cellEditing{
	float:left;
	width:auto !important;
	}
.body_content_view_content_table .table-bordered{
	border:inherit;
	}
.body_content_view_content_table .ng-untouched{
	width:100%;
	float: left;
	display: flex;
	}


.body_content_view_content_table .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border:inherit !important;
	color:#80382B !important;
	font-size:16px;
	}
.body_content_view_content_table .table-hover > tbody > tr:hover{
	background-color:inherit;
	}
.body_content_view_content_table input{
	width:auto;
	float:left;
	background:none;
	border:none;
	padding:2px 6px;
	outline:1px solid rgba(253,220,214) !important;
	}
.body_content_view_content_table input:focus{
	outline:1px solid #80382B !important;
	padding:2px 6px;
	}

.body_content_view_content_table input::-webkit-input-placeholder {
   color: #80382B;
	}
.body_content_view_content_table input:-moz-placeholder { /* Firefox 18- */
   color: #80382B;  
	}
.body_content_view_content_table input::-moz-placeholder {  /* Firefox 19+ */
   color: #80382B;  
	}
.body_content_view_content_table input:-ms-input-placeholder {  
   color: #80382B;  
	}
.body_content_view_content_table .table > thead > tr > th{
	font-size:18px;
	color:#80382B;
	font-weight:600;
	}
/*Start Location CSS*/
.location_cont{
	background:url(images/Locations-cont-bg.png) top center no-repeat;
	background-size:cover;
	width:100%;
	}	
.location_cont_main{
	width:100%;
	float:left;
	position:relative;
	padding:40px 60px;
	}
.location_cont_main_title{
	width:100%;
	float:left;
	position:relative;
	margin-top:30px;
	padding:10px 0;
	background:url(images/title-separator-l.png) bottom center no-repeat;
	}
.location_cont_main_body{
	width:100%;
	float:left;
	position:relative;
	}
.location_box{
	width:100%;
	float:left;
	position:relative;
	margin:40px 0;
	}
.location_box .col-xs-4{
	width:33.3333%;
	float:left;
	}
.location_box .col-xs-4 img{
	width:100%;
	float:left;
	}
.search_location_area{
	width:100%;
	float:left;
	position:relative;
	}
.search_location_area_main{
	width:600px;
	display:block;
	margin:auto;
	position:relative;
	}
.search_location_area_main img{
	display:block;
	margin:auto;
	position:relative;
	}
.search_location_area_main h2{
	text-align:center;
	font-size:24px;
	color:#52A8CA;
	font-weight:bold;
	}

.search_location_area_main_secrch{
	width:440px;
	height:auto;
	display:block;
	margin:auto;
	position:relative;
	z-index:999;
	}
.search_location_area_main_secrch .text_l{
	background:url(images/location-src-bg.png) left center no-repeat;
	width:100%;
	height:50px;
	float:left;
	position:relative;
	padding:10px;
	border:none;
	outline:0px !important;
	text-align:center;
	color: #D9D064;
	font-size:20px;
	}
.text_l::-webkit-input-placeholder {
	color: #D9D064;
	font-size:20px;
	}
.text_l:-moz-placeholder { /* Firefox 18- */
   color: #D9D064;
   font-size:20px;
	}
.text_l::-moz-placeholder {  /* Firefox 19+ */
   color: #D9D064;
   font-size:20px;
	}
.text_l:-ms-input-placeholder {  
   color: #D9D064;
   font-size:20px;
	}
.view_all_location{
	width:100%;
	float:left;
	position:relative;
	margin-top:40px;
	}
.view_all_location span{
	width:150px;
	display:block;
	margin:auto;
	font-size:18px;
	color:#51A9CA;
	}
.view_all_location span img{
	float:right;
	margin-top:6px;
	}

/*End Location CSS*/

/*Start Report CSS*/

.report_cont{
	background:url(images/Report-cont-bg.png) top center no-repeat;
	background-size:cover;
	width:100%;
	}	
.report_cont_main_title{
	width:100%;
	float:left;
	position:relative;
	margin-top:30px;
	padding:10px 0;
	background:url(images/title-separator-r.png) bottom center no-repeat;
	}
.report_cont_main{
	width:100%;
	float:left;
	position:relative;
	padding:40px 60px;
	}

.report_cont_main_body{
	width:100%;
	float:left;
	position:relative;
	}

.report_box{
	width:100%;
	float:left;
	position:relative;
	margin:40px 0;
	}
.report_box .col-xs-4{
	width:33.3333%;
	float:left;
	}
.report_box .col-xs-4 img{
	width:100%;
	float:left;
	}
.search_report_area{
	width:100%;
	float:left;
	position:relative;
	}
.search_report_area_main{
	width:600px;
	display:block;
	margin:auto;
	position:relative;
	}
.search_report_area_main img{
	display:block;
	margin:auto;
	position:relative;
	}
.search_report_area_main h2{
	text-align:center;
	font-size:24px;
	color:#93B03D;
	font-weight:bold;
	}

.search_report_area_main_secrch{
	width:440px;
	height:auto;
	display:block;
	margin:auto;
	position:relative;
	z-index:999;
	}
.search_report_area_main_secrch .text_r{
	background:url(images/search_r_bg.png) left center no-repeat;
	width:100%;
	height:50px;
	float:left;
	position:relative;
	padding:10px;
	border:none;
	outline:0px !important;
	text-align:center;
	color: #D9D064;
	font-size:20px;
	}
.text_r::-webkit-input-placeholder {
	color: #60CAD1;
	font-size:20px;
	}
.text_r:-moz-placeholder { /* Firefox 18- */
   color: #60CAD1;
   font-size:20px;
	}
.text_r::-moz-placeholder {  /* Firefox 19+ */
   color: #60CAD1;
   font-size:20px;
	}
.text_r:-ms-input-placeholder {  
   color: #60CAD1;
   font-size:20px;
	}
.view_all_report{
	width:100%;
	float:left;
	position:relative;
	margin-top:40px;
	}
.view_all_report span{
	width:150px;
	display:block;
	margin:auto;
	font-size:18px;
	color:#93B03D;
	}
.view_all_report span img{
	float:right;
	margin-top:6px;
	}
/*End Report CSS*/
/*Start user CSS*/
.body_content_view_content_top_user .user_add{
	background:url(images/Add-user.png) center center no-repeat;
	width:20px;
	height:20px;
	float:left;
	margin-left:20px;
	}

.body_content_view_content_table_user .minus-user{
	background:url(images/Minus-user.png) left center no-repeat;
	padding-left:20px;
	width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
	top:10px;
	}
.user_cont{
	background:url(images/table-bg-user.png) top center no-repeat;
	background-size:cover;
	width:100%;
	}

.body_content_view_header_user{
    width: 100%;
    max-height: 123px;
    float: left;
    padding: 34px;
    position: relative;
	}
.body_content_view_header_user img{
	width:auto;
	height:auto;
	float:left;
	position:relative;
	}
.body_content_view_header_user h2{
	font-size:48px;
	color:#CCFFD5;
	float:left;
	margin:0 0 0 15px;
	line-height:44px;
	font-weight:bold;
	}
.body_content_view_header_user_search{
	width:315px;
	height:auto;
	float:right;
	position:relative;
	z-index:999;
	}
.body_content_view_header_user_search .text_u{
	background:url(images/search-bg-user.png) left center no-repeat;
	width:100%;
	height:40px;
	float:left;
	position:relative;
	padding:10px 10px 10px 48px;
	border:none;
	outline:0px !important;
	color:#47C765;
	}
.text_u::-webkit-input-placeholder {
   color: #47C765;
	}
.text_u:-moz-placeholder { /* Firefox 18- */
   color: #47C765;  
	}
.text_u::-moz-placeholder {  /* Firefox 19+ */
   color: #47C765;  
	}
.text_u:-ms-input-placeholder {  
   color: #47C765;  
	}
.body_content_view_header_user_search .submit_u{
	background:url(images/search-icon-user.png) center center no-repeat;
	width:46px;
	height:40px;
	float:left;
	position:absolute;
	left:0;
	top:0;
	border:none;
	}
.body_content_view_content_top_user{
	width:100%;
	float:left;
	position:relative;
	padding:15px 15px;
	}
.body_content_view_content_top_user h3{
	font-size:24px;
	color:#249036;
	float:left;
	font-weight:bold;
	}
.body_content_view_content_top_user span{
	font-size:16px;
	color:#249036;
	float:right;
	margin-left:40px;
	margin-top:24px;
	}
.body_content_view_content_top_user span a{
	float:right;
	color:#249036;
	margin-left:20px;
	}
.body_content_view_content_top_user span img{
	float:right;
	margin-left:20px;
	margin-top:4px;
	}
.body_content_view_content_top_user span #current_page{
	float:left;
	}
.body_content_view_content_top_user span a:hover{
	text-decoration:none !important;
	color:#249036;
	}
.body_content_view_content_top_user span a:active{
	text-decoration:none !important;
	color:#249036;
	}
.body_content_view_content_top_user span a:active, a:focus{
	text-decoration:none !important;
	color:#249036;
	}



.body_content_view_content_table_user{
    width: 100%;
    float: left;
    padding: 0 20px;©
    position: relative;
	}
.body_content_view_content_table_user thead{
	background:url(images/titlebar-bg-user.png) left center no-repeat;
    width: 100%;
    position: relative;
	}
.body_content_view_content_table_user thead .cellEditing{
	float:left;
	width:auto !important;
	}
.body_content_view_content_table_user .table-bordered{
	border:inherit;
	}
.body_content_view_content_table_user .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border:inherit !important;
	color:#249036;
	font-size:16px;
	position:relative;
	}
.first-td{
	padding-left:22px !important;
	}
.body_content_view_content_table_user .table-hover > tbody > tr:hover{
	background-color:inherit;
	}
.body_content_view_content_table_user input{
	width:100%;
	float:left;
	background:none;
	border:none;
	padding:2px 6px;
	outline:1px solid rgba(36,144,54) !important;
	}
.body_content_view_content_table_user input:focus{
	outline:1px solid #249036 !important;
	padding:2px 6px;
	}

.body_content_view_content_table_user input::-webkit-input-placeholder {
   color: #249036;
	}
.body_content_view_content_table_user input:-moz-placeholder { /* Firefox 18- */
   color: #249036;  
	}
.body_content_view_content_table_user input::-moz-placeholder {  /* Firefox 19+ */
   color: #249036;  
	}
.body_content_view_content_table_user input:-ms-input-placeholder {  
   color: #249036;  
	}
.body_content_view_content_table_user .table > thead > tr > th{
	font-size:18px;
	color:#249036;
	font-weight:600;
	}
/*End user CSS*/

/*Start refills CSS*/
.body_content_view_content_top_refill .refill_add{
	background:url(images/Add-r.png) center center no-repeat;
	width:20px;
	height:20px;
	float:left;
	margin-left:20px;
	}
.body_content_view_content_top_refills .minus-refill{
	background:url(images/Minus-r.png) left center no-repeat;
	padding-left:20px;
	width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
	top:10px;
	}
.refill_cont{
	background:url(images/refill-bg.png) top center no-repeat;
	background-size:cover;
	width:100%;
	}

.body_content_view_header_refill{
    width: 100%;
    max-height: 123px;
    float: left;
    padding: 34px;
    position: relative;
	}
.body_content_view_header_refill img{
	width:auto;
	height:auto;
	float:left;
	position:relative;
	}
.body_content_view_header_refill h2{
	font-size:48px;
	color:#DBB1FF;
	float:left;
	margin:0 0 0 15px;
	line-height:44px;
	font-weight:bold;
	}
.body_content_view_header_refill_search{
	width:315px;
	height:auto;
	float:right;
	position:relative;
	z-index:999;
	}
.body_content_view_header_refill_search .text_re{
	background:url(images/search-bg-r.png) left center no-repeat;
    width: 100%;
    height: 40px;
    float: left;
    position: relative;
    padding: 10px 10px 10px 48px;
    border: none;
    outline: 0px !important;
	color:#A445F8;
	}
.text_re::-webkit-input-placeholder {
   color: #A445F8;
	}
.text_re:-moz-placeholder { /* Firefox 18- */
   color: #A445F8;  
	}
.text_re::-moz-placeholder {  /* Firefox 19+ */
   color: #A445F8;  
	}
.text_re:-ms-input-placeholder {  
   color: #A445F8;  
	}
.body_content_view_header_refill_search .submit_re{
	background:url(images/search-icon-r.png) center center no-repeat;
	width:46px;
	height:40px;
	float:left;
	position:absolute;
	left:0;
	top:0;
	border:none;
	}
.body_content_view_content_top_refill{
	width:100%;
	float:left;
	position:relative;
	padding:15px 15px;
	}
.body_content_view_content_top_refill h3{
	font-size:24px;
	color:#A445F8;
	float:left;
	font-weight:bold;
	}
.body_content_view_content_top_refill span{
	font-size:16px;
	color:#A445F8;
	float:right;
	margin-left:40px;
	margin-top:24px;
	}
.body_content_view_content_top_refill span a{
	float:right;
	color:#A445F8;
	margin-left:20px;
	}
.body_content_view_content_top_refill span img{
	float:right;
	margin-left:20px;
	margin-top:4px;
	}
.body_content_view_content_top_refill span #current_page{
	float:left;
	}
.body_content_view_content_top_refill span a:hover{
	text-decoration:none !important;
	color:#A445F8;
	}
.body_content_view_content_top_refill span a:active{
	text-decoration:none !important;
	color:#A445F8;
	}
.body_content_view_content_top_refill span a:active, a:focus{
	text-decoration:none !important;
	color:#A445F8;
	}
.body_content_view_content_top_refills{
    width: 100%;
    float: left;
    padding: 0 20px;©
    position: relative;
	}
.body_content_view_content_top_refills thead{
	background:url(images/titlebar-bg-R.png) left center no-repeat;
    width: 100%;
    position: relative;
	}
.body_content_view_content_top_refills thead .cellEditing{
	float:left;
	width:auto !important;
	}
.body_content_view_content_top_refills .table-bordered{
	border:inherit;
	}
.body_content_view_content_top_refills .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border:inherit !important;
	color:#A445F8;
	font-size:16px;
	position:relative;
	}
.first-td{
	padding-left:22px !important;
	}
.body_content_view_content_top_refills .table-hover > tbody > tr:hover{
	background-color:inherit;
	}
.body_content_view_content_top_refills input{
	width:100%;
	float:left;
	background:none;
	border:none;
	padding:2px 6px;
	outline:1px solid rgba(36,144,54) !important;
	}
.body_content_view_content_top_refills input:focus{
	outline:1px solid #A445F8 !important;
	padding:2px 6px;
	}

.body_content_view_content_top_refills input::-webkit-input-placeholder {
   color: #A445F8;
	}
.body_content_view_content_top_refills input:-moz-placeholder { /* Firefox 18- */
   color: #A445F8;  
	}
.body_content_view_content_top_refills input::-moz-placeholder {  /* Firefox 19+ */
   color: #A445F8;  
	}
.body_content_view_content_top_refills input:-ms-input-placeholder {  
   color: #A445F8;  
	}
.body_content_view_content_top_refills .table > thead > tr > th{
	font-size:18px;
	color:#A445F8;
	font-weight:600;
	}
/*End Refill css*/


/*Start Theft control CSS*/
.body_content_view_content_top_theft_control .theft_control_add{
	background:url(images/Add-tc.png) center center no-repeat;
	width:20px;
	height:20px;
	float:left;
	margin-left:20px;
	}
.body_content_view_content_top_theft_control_table .minus-theft_control{
	background:url(images/Minus-tc.png) left center no-repeat;
	padding-left:20px;
	width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
	top:10px;
	}
.theft_cont{
	background:url(images/theft-control-bg.png)top center no-repeat;
	background-size:cover;
	width:100%;
	}

.body_content_view_header_theft_control{
    width: 100%;
    max-height: 123px;
    float: left;
    padding: 34px;
    position: relative;
	}
.body_content_view_header_theft_control img{
	width:auto;
	height:auto;
	float:left;
	position:relative;
	}
.body_content_view_header_theft_control h2{
	font-size:40px;
	color:#B1B3FF;
	float:left;
	margin:0 0 0 15px;
	line-height:44px;
	font-weight:bold;
	}
.body_content_view_header_theft_control_search{
	width:315px;
	height:auto;
	float:right;
	position:relative;
	z-index:999;
	}
.body_content_view_header_theft_control_search .text_tc{
	background:url(images/search-bg-tc.png) left center no-repeat;
    width: 100%;
    height: 40px;
    float: left;
    position: relative;
    padding: 10px 10px 10px 48px;
    border: none;
    outline: 0px !important;
	color:#3E44FA;
	}
.text_tc::-webkit-input-placeholder {
   color: #3E44FA;
	}
.text_tc:-moz-placeholder { /* Firefox 18- */
   color: #3E44FA;  
	}
.text_tc::-moz-placeholder {  /* Firefox 19+ */
   color: #3E44FA;  
	}
.text_tc:-ms-input-placeholder {  
   color: #3E44FA;  
	}
.body_content_view_header_theft_control_search .submit_tc{
	background:url(images/search-icon-tc.png) center center no-repeat;
	width:46px;
	height:40px;
	float:left;
	position:absolute;
	left:0;
	top:0;
	border:none;
	}
.body_content_view_content_top_theft_control{
	width:100%;
	float:left;
	position:relative;
	padding:15px 15px;
	}
.body_content_view_content_top_theft_control h3{
	font-size:24px;
	color:#3E44FA;
	float:left;
	font-weight:bold;
	}
.body_content_view_content_top_theft_control span{
	font-size:16px;
	color:#3E44FA;
	float:right;
	margin-left:40px;
	margin-top:24px;
	}
.body_content_view_content_top_theft_control span a{
	float:right;
	color:#3E44FA;
	margin-left:20px;
	}
.body_content_view_content_top_theft_control span img{
	float:right;
	margin-left:20px;
	margin-top:4px;
	}
.body_content_view_content_top_theft_control span #current_page{
	float:left;
	}
.body_content_view_content_top_theft_control span a:hover{
	text-decoration:none !important;
	color:#3E44FA;
	}
.body_content_view_content_top_theft_control span a:active{
	text-decoration:none !important;
	color:#3E44FA;
	}
.body_content_view_content_top_theft_control span a:active, a:focus{
	text-decoration:none !important;
	color:#3E44FA;
	}
.body_content_view_content_top_theft_control_table{
    width: 100%;
    float: left;
    padding: 0 20px;©
    position: relative;
	}
.body_content_view_content_top_theft_control_table thead{
	background:url(images/titlebar-bg-tc.png) left center no-repeat;
    width: 100%;
    position: relative;
	}
.body_content_view_content_top_theft_control_table thead .cellEditing{
	float:left;
	width:auto !important;
	}
.body_content_view_content_top_theft_control_table .table-bordered{
	border:inherit;
	}
.body_content_view_content_top_theft_control_table .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border:inherit !important;
	color:#3E44FA;
	font-size:16px;
	position:relative;
	}
.first-td{
	padding-left:22px !important;
	}
.body_content_view_content_top_theft_control_table .table-hover > tbody > tr:hover{
	background-color:inherit;
	}
.body_content_view_content_top_theft_control_table input{
	width:100%;
	float:left;
	background:none;
	border:none;
	padding:2px 6px;
	outline:1px solid rgba(36,144,54) !important;
	}
.body_content_view_content_top_theft_control_table input:focus{
	outline:1px solid #3E44FA !important;
	padding:2px 6px;
	}

.body_content_view_content_top_theft_control_table input::-webkit-input-placeholder {
   color: #3E44FA;
	}
.body_content_view_content_top_theft_control_table input:-moz-placeholder { /* Firefox 18- */
   color: #3E44FA;  
	}
.body_content_view_content_top_theft_control_table input::-moz-placeholder {  /* Firefox 19+ */
   color: #3E44FA;  
	}
.body_content_view_content_top_theft_control_table input:-ms-input-placeholder {  
   color: #3E44FA;  
	}
.body_content_view_content_top_theft_control_table .table > thead > tr > th{
	font-size:18px;
	color:#3E44FA;
	font-weight:600;
	}
/*End Theft control css*/
@media (max-width: 1024px) {
.body_content_view_content_table{
    overflow-x: scroll;
	}
.body_content_view_content_table .table{
	min-width:667px;
	}
}
@media (max-width: 767px) {
.mainwrapper{
	width:767px;
	display:block;
	margin:auto;
	}
}
#location-bg-header a h3{
	margin: right;
}

.location-bg-header ul li a .logout-bg{
    background: url(images/logout-btn.png) left center no-repeat;
    background-size: cover;
    width: 102px;
    height: 40px;
    float: left;
    -webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));

}

