<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grap-N-Go-Express</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="refill-bg">
  	<div class="mainwrapper">
        <!--Start Body-->
        <div class="body_header">
        	<div class="container">
            	<div class="logo"><a href="#"><img src="images/Logo.png" alt="" title=""></a></div>
                <div class="contact">
                	<h3>Phone: +1-949-689-7995</h3>
                    <ul>
                    	<li class="logout-bg"></li>
                    	<li class="admin-bg"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body_content">
        	<div class="container">
            	<div class="body_content_tab">
                    <ul>
                      <li><a href="location.html"><img src="images/locations-tab.png" alt=""></a></li>
                      <li><a href="itemc.html"><img src="images/items-tab.png" alt=""></a></li>
                      <li><a href="user.html"><img src="images/user-tab.png" alt=""></a></li>
                      <li><a class="active" href="refills.html"><img src="images/refills-tab.png" alt=""></a></li>
                      <li><a href="theft_control.html"><img src="images/theft-control-tab.png" alt=""></a></li>
                      <li><a href="report.html"><img src="images/reports-tab.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="body_content_view">
                    <div class="body_content_view_main refill_cont2">
                        <div class="refill_main_cont">
                            <!-- <div class="col-xs-12">
                                <img src="images/refills-tab-icon2.png" alt="">
                                <h2>Refills</h2>
                            </div> -->
                            <div class="packing_slip_main">
                                <div class="packing_slip_main_scroll">
                                    <h1>Globus</h1>
                                    <div class="packing_slip_table">
                                        <h2>PEPSI COOLER:</h2>
                                        <table>
                                            <tr>
                                                <td>PEPSI 1200 </td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td>DIET PEPSI 2000 </td>
                                                <td>12</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="packing_slip_table">
                                        <h2>COKE COOLER:</h2>
                                        <table>
                                            <tr>
                                                <td>COKE</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td>DIET COKE </td>
                                                <td>12</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="packing_slip_table">
                                        <h2>SNACE PACK:</h2>
                                        <table>
                                            <tr>
                                                <td>CHOETOS</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td>FRITOS</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td>DRITOS</td>
                                                <td>12</td>
                                            </tr>
                                        </table>
                                    </div>

                                    
                                    <h1>LINK LOGISTIS</h1>
                                    <div class="packing_slip_table">
                                        <h2>PEPSI COOLER:</h2>
                                        <table>
                                            <tr>
                                                <td>PEPSI 1200 </td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td>DIET PEPSI 2000 </td>
                                                <td>12</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="packing_slip_table">
                                        <h2>COKE COOLER:</h2>
                                        <table>
                                            <tr>
                                                <td>COKE</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td>DIET COKE </td>
                                                <td>12</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="packing_slip_table">
                                        <h2>SNACE PACK:</h2>
                                        <table>
                                            <tr>
                                                <td>CHOETOS</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td>FRITOS</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td>DRITOS</td>
                                                <td>12</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="packing_slip_button">
                                    <a href="#">Confirm Packing Slip</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Body-->
    </div>
  </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
</html>