<div class="body_content_view_main refill_cont">
    <div class="body_content_view_header_refill">
        <div class="col-xs-4">
            <img src="app/components/images/refills-tab-icon.png" alt="">
            <h2>Refills</h2>
        </div>
        <div class="col-xs-8">
            <div class="body_content_view_header_refill_search">
                <input id="searchBox" class="text_re" type="text"/>
                <input class="submit_re" type="submit" value="">
            </div>
        </div>
    </div>
    <div class="body_content_view_content">
        <div class="body_content_view_content_top_refill">
            <div class="col-xs-4">
                <h3>Refills Information</h3>
                <span class="refill_add"></span>
            </div>
            <div class="col-xs-8">
                <span>
                    View All Location<img src="app/components/images/View-All-Users-arrow-r.png" alt="">
                </span>
                <span>
                    <div id="current_page">1</div>
                    <img src="app/components/images/next-r.png"  alt="">
                    <img src="app/components/images/previous-r.png"  alt="">
                </span>
                <span id="total_items_text">Total User: 2447</span>
            </div>
        </div>
        <div class="body_content_view_content_top_refills">
            <table id="itemsTable" class="table table-bordered table-hover" width="647">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Cost</th>
                        <th>Percent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="first-td"><span class="minus-refill"></span>
                        <input type="text" placeholder="Globus"> </td>
                        <td><input type="text" placeholder=" 6/25/16"></td>
                        <td><input type="text" placeholder="$175.25"></td>
                        <td><input type="text" placeholder="5%"></td>
                    </tr>
                    <tr>
                        <td class="first-td"><span class="minus-refill"></span>
                        <input type="text" placeholder="Transfirst"> </td>
                        <td><input type="text" placeholder=" 6/25/16"></td>
                        <td><input type="text" placeholder="$175.25"></td>
                        <td><input type="text" placeholder="5%"></td>
                    </tr>
                    <tr>
                        <td class="first-td"><span class="minus-refill"></span>
                        <input type="text" placeholder="Circo"> </td>
                        <td><input type="text" placeholder=" 6/25/16"></td>
                        <td><input type="text" placeholder="$175.25"></td>
                        <td><input type="text" placeholder="5%"></td>
                    </tr>
                    <tr>
                        <td class="first-td"><span class="minus-refill"></span>
                        <input type="text" placeholder="Xanadyne"> </td>
                        <td><input type="text" placeholder=" 6/25/16"></td>
                        <td><input type="text" placeholder="$175.25"></td>
                        <td><input type="text" placeholder="5%"></td>
                    </tr>
                    <tr>
                        <td class="first-td"><span class="minus-refill"></span>
                        <input type="text" placeholder="Regus"> </td>
                        <td><input type="text" placeholder=" 6/25/16"></td>
                        <td><input type="text" placeholder="$175.25"></td>
                        <td><input type="text" placeholder="5%"></td>
                    </tr>
                    <tr>
                        <td class="first-td"><span class="minus-refill"></span>
                        <input type="text" placeholder="Adobe Systems"> </td>
                        <td><input type="text" placeholder=" 6/25/16"></td>
                        <td><input type="text" placeholder="$175.25"></td>
                        <td><input type="text" placeholder="5%"></td>
                    </tr>
                    <tr>
                        <td class="first-td"><span class="minus-refill"></span>
                        <input type="text" placeholder="Allied Waste"> </td>
                        <td><input type="text" placeholder=" 6/25/16"></td>
                        <td><input type="text" placeholder="$175.25"></td>
                        <td><input type="text" placeholder="5%"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

