<div class="body_header">
    <div class="container">
            <div class="contact" style="float: right;height: auto;margin-top: -5%;margin-right: 37%;">
            <ul>
                <li class="logout-bg" ><a [routerLink]="['/login']" class="logout-bg"></a></li>
                <li class="admin-bg"></li>
            </ul>
        </div>
    </div>
</div>
<div class="body_content_view_main theft_cont">
    <div class="body_content_view_header_theft_control">
        <div class="col-xs-4" [@FedInLeft]='state'>
            <img src="app/components/images/theft-control-tab-icon-t.png" alt="">
            <h2>Theft Control</h2>
        </div>
        <div class="col-xs-8" [@FedInRight]='state'>
            <div class="body_content_view_header_theft_control_search">
                <input id="searchBox" class="text_tc" type="text">
                <input class="submit_tc" type="submit" value="">
            </div>
        </div>
    </div>
    <div class="body_content_view_content" [@FedInUp]='state'>
        <div class="body_content_view_content_top_theft_control">
            <div class="col-xs-4">
                <h3>Theft Control Information</h3>
                <span class="theft_control_add"></span>
            </div>
            <div class="col-xs-8">
                <span>
                    View All Location<img src="app/components/images/View All Users-arrow.png" alt="">
                    <!--<a href="#">View All ITEMS <img src="images/View All Users-arrow.png" alt=""></a>-->
                </span>
                <span>
                    <div id="current_page">1</div>
                    <img src="app/components/images/next.png"  alt="">
                    <img src="app/components/images/previous.png"  alt="">
                </span>
                <span id="total_items_text">Total User: 2447</span>
            </div>
        </div>
        <div class="body_content_view_content_top_theft_control_table">
            <table id="itemsTable" class="table table-bordered table-hover" width="auto">
                <thead item-width="100%">
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Inventoried</th>
                        <th>Slod</th>
                        <th>Variance</th>
                        <th>Percent</th>
                    </tr>
                </thead>
                <tbody item-width="100%">
                    <tr>
                         <form #f="ngForm">
                            <td class="first-td"><span class="minus-theft_control"></span>
                            <input type="text" value="Globus"> </td>
                            <td><input type="text" value="6/25/16 - 6/27/16"></td>
                            <td><input type="text" value="156 items inventoried"></td>
                            <td><input type="text" value="154 items sold"></td>
                            <td><input type="text" value="2 item variance "></td>
                            <td><input type="text" value="0.2%"></td>
                         </form>
                    </tr>
 
                </tbody>
            </table>
        </div>
    </div>
</div>