<div class="col-xs-4">
        <div class="body_header">
            <div class="container">
                 <div class="contact" style="float: right;height: auto;margin-top: -5%;margin-right: 37%;">
                    <ul>
                        <li class="logout-bg" ><a [routerLink]="['/login']" class="logout-bg"></a></li>
                        <li class="admin-bg"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="body_content_view_main user_cont">
    <div class="body_content_view_header_user">
        <div class="col-xs-4">
            <img src="app/components/images/titlebar-user-icon.png" alt="">
            <h2>User</h2>
        </div>
        <div class="col-xs-8">
            <div class="body_content_view_header_user_search">
                <input id="searchBox" class="text_u" type="text"  placeholder="Search for Item by Name, Category or Price">
                <input class="submit_u" type="submit" value="">
            </div>
        </div>
    </div>
    <div class="body_content_view_content">
        <div class="body_content_view_content_top_user">
            <div class="col-xs-4">
                <h3>User Information</h3>
                <span class="user_add"></span>
            </div>
            <div class="col-xs-8">
                <span>
                    View All ITEMS <img src="app/components/images/View-All-Users-arrow.png" alt="">
                    <!--<a href="#">View All ITEMS <img src="images/View All Users-arrow.png" alt=""></a>-->
                </span>
                <span>
                    <div id="current_page">1</div>
                    <img src="app/components/images/next-user.png"  alt="">
                    <img src="app/components/images/previous-user.png"  alt="">
                </span>
                <span id="total_items_text">Total User: 2447</span>
            </div>
        </div>
        <div class="body_content_view_content_table_user">
            <table id="itemsTable" class="table table-bordered table-hover" width="647">
                <thead>
                    <tr>
                        <th>Phone</th>
                        <th>Link</th>
                        <th>Rate 1</th>
                        <th>User Name</th>
                        <th>Rate 2</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td class="first-td"><span class="minus-user"></span><input type="text" placeholder="(858) 736-6808 "> </td>
                        <td><input type="text" placeholder=" Link Logistics"></td>
                        <td><input type="text" placeholder="$11.50 "></td>
                        <td><input type="text" placeholder="Coke Zero"></td>
                        <td><input type="text" placeholder="$150.00"> </td>
                        <td><input type="text" placeholder="6/21/2016"></td>
                    </tr>
                    <tr>
                        
                        <td class="first-td"><span class="minus-user"></span><input type="text" placeholder="(858) 736-6808 "> </td>
                        <td><input type="text" placeholder=" Link Logistics"></td>
                        <td><input type="text" placeholder="$11.50 "></td>
                        <td><input type="text" placeholder="Coke Zero"></td>
                        <td><input type="text" placeholder="$150.00"> </td>
                        <td><input type="text" placeholder="6/21/2016"></td>
                    </tr>
                    <tr>
                        
                        <td class="first-td"><span class="minus-user"></span><input type="text" placeholder="(858) 736-6808 "> </td>
                        <td><input type="text" placeholder=" Link Logistics"></td>
                        <td><input type="text" placeholder="$11.50 "></td>
                        <td><input type="text" placeholder="Coke Zero"></td>
                        <td><input type="text" placeholder="$150.00"> </td>
                        <td><input type="text" placeholder="6/21/2016"></td>
                    </tr>
                    <tr>
                        
                        <td class="first-td"><span class="minus-user"></span><input type="text" placeholder="(858) 736-6808 "> </td>
                        <td><input type="text" placeholder=" Link Logistics"></td>
                        <td><input type="text" placeholder="$11.50 "></td>
                        <td><input type="text" placeholder="Coke Zero"></td>
                        <td><input type="text" placeholder="$150.00"> </td>
                        <td><input type="text" placeholder="6/21/2016"></td>
                    </tr>
                    <tr>
                        
                        <td class="first-td"><span class="minus-user"></span><input type="text" placeholder="(858) 736-6808 "> </td>
                        <td><input type="text" placeholder=" Link Logistics"></td>
                        <td><input type="text" placeholder="$11.50 "></td>
                        <td><input type="text" placeholder="Coke Zero"></td>
                        <td><input type="text" placeholder="$150.00"> </td>
                        <td><input type="text" placeholder="6/21/2016"></td>
                    </tr>
                    <tr>
                        
                        <td class="first-td"><span class="minus-user"></span><input type="text" placeholder="(858) 736-6808 "> </td>
                        <td><input type="text" placeholder=" Link Logistics"></td>
                        <td><input type="text" placeholder="$11.50 "></td>
                        <td><input type="text" placeholder="Coke Zero"></td>
                        <td><input type="text" placeholder="$150.00"> </td>
                        <td><input type="text" placeholder="6/21/2016"></td>
                    </tr>
                    <tr>
                        
                        <td class="first-td"><span class="minus-user"></span><input type="text" placeholder="(858) 736-6808 "> </td>
                        <td><input type="text" placeholder=" Link Logistics"></td>
                        <td><input type="text" placeholder="$11.50 "></td>
                        <td><input type="text" placeholder="Coke Zero"></td>
                        <td><input type="text" placeholder="$150.00"> </td>
                        <td><input type="text" placeholder="6/21/2016"></td>
                    </tr>
                    <tr>
                        
                        <td class="first-td"><span class="minus-user"></span><input type="text" placeholder="(858) 736-6808 "> </td>
                        <td><input type="text" placeholder=" Link Logistics"></td>
                        <td><input type="text" placeholder="$11.50 "></td>
                        <td><input type="text" placeholder="Coke Zero"></td>
                        <td><input type="text" placeholder="$150.00"> </td>
                        <td><input type="text" placeholder="6/21/2016"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>