
    <div class="body_header">
        <div class="container">
                <div class="contact" style="float: right;height: auto;margin-top: -5%;margin-right: 37%;">
                <ul>
                    <li class="logout-bg" ><a [routerLink]="['/login']" class="logout-bg"></a></li>
                    <li class="admin-bg"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="body_content_view_main user_cont">
        <div class="body_content_view_header_user">
            <div class="col-xs-4">
                <img src="app/components/images/titlebar-user-icon.png" alt="">
                <h2>User</h2>
            </div>
            <div class="col-xs-8">
                <div class="body_content_view_header_user_search">
                    <input id="searchBox" class="text_u" type="text"  placeholder="Search for Item by Name, Category or Price">
                    <input class="submit_u" type="submit" value="">
                </div>
            </div>
        </div>
        <div class="body_content_view_content">
            <div class="body_content_view_content_top_user">
                <div class="col-xs-4">
                    <h3>User Information</h3>
                    <span class="user_add"></span>
                </div>
                <div class="col-xs-8">
                    <span>
                        View All ITEMS <img src="app/components/images/View-All-Users-arrow.png" alt="">
                    </span>
                    <span>
                        <div id="current_page">1</div>
                        <img src="app/components/images/next-user.png"  (click)="next()" alt="" id="next_page">
                        <img src="app/components/images/previous-user.png"  alt="">
                    </span>
                    <span id="total_items_text"></span>
                </div>
            </div>
            <div class="body_content_view_content_table_user">
                <table id="itemsTable" class="table table-bordered table-hover" width="auto">
                    <thead item-width="100%">
                        <tr>
                            <th>Phone</th>
                            <th>Customer Id</th>
                            <th>Balance</th>
                            <th>Id</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody item-width="100%">
                        <tr *ngFor="let post of xx">
                            <form>
                                    <td class="first-td">
                                        <span class="minus-user"></span><input [(ngModel)]="post.phone_num" name="phone_num">
                                    </td>
                                    <td>
                                        <input [(ngModel)]="post.customer_id" name="customer_id">
                                    </td>
                                    <td>
                                        <input [(ngModel)]="post.balance" name="balance">
                                    </td>
                                    <td>
                                        <input [(ngModel)]="post._id" name="id">
                                    </td>
                                    <td>
                                        <input [(ngModel)]="post.signup_date" name="signup_date">
                                    </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>