
 <div class="col-xs-4">
            <div class="body_header">
                <div class="container">
                     <div class="contact" style="float: right;height: auto;margin-top: -5%;margin-right: 37%;">
                        <ul>
                            <li class="logout-bg" ><a [routerLink]="['/login']" class="logout-bg"></a></li>
                            <li class="admin-bg"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<div class="body_content_view_main index_cont">
        <div class="body_content_view_header">
            <div class="col-xs-4">
                <img src="app/components/images/items-tab-icon.png" alt="">
                <h2>Items</h2>
            </div>
            <div class="col-xs-8">
                <div class="body_content_view_header_secrch">
                    <input #key (keyup)="filter($event,key.value)" name="key" id="key" class="text" placeholder="Filter products by Name, price barcode" type="text">
                    <input class="submit" type="submit" value="">
                </div>
            </div>
        </div>
        <div class="body_content_view_content">
            <div class="body_content_view_content_top">
                <div class="col-xs-4"><h3>ITEMS Information</h3>
                    <span class="item_add"></span>
                </div>
                <div class="col-xs-8">
                    <span>
                        View All ITEMS <img src="app/components/images/View All Users-arrow.png" alt="">
                    </span>
                    <span>
                        <div id="current_page"></div>
                        <img src="app/components/images/next.png"  (click)="next()" alt="" id="next_page">
                        <img src="app/components/images/previous.png" (click)="previous()" alt="" id="previous_page">
                    </span>
                    <span id="total_items_text"></span>
                </div>
            </div>
          
            <div class="body_content_view_content_table">
                <table id="itemsTable" class="table table-bordered table-hover" width="auto">
                    <thead item-width="100%">
                    <tr>
                        <th>Item Name</th>
                        <th>Barcode</th>
                        <th>Price</th>
                        <th>Taxable</th>
                    </tr>
                    </thead>
                    <tbody item-width="100%">
                          <tr *ngFor="let post of xx">
                            <!--<tr *ngFor="let post of xx | filter:'description':filterCriteria" (keydown.Enter)="update(description.value,barcode.value,price.value,taxable.value,id.value)">-->
                                  <!--<form #f="ngForm" (ngSubmit)="update_value(f.value)">
                                        <td class="first-td">
                                            <span class="minus-user"></span>
                                            <input [(ngModel)]="post.description" name="description">
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="post.barcode" name="barcode"/>
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="post.price" name="price"/>
                                        </td>
                                        <td>
                                            <input type="text" [(ngModel)]="post.taxable" name="taxable"/>
                                        </td>
                                        <td style="display: none">
                                            <input type="hidden" [(ngModel)]="post._id" name="_id"> 
                                            <button type="submit" class="Submit" >Update</button> 
                                        </td>
                                        <td>  <toaster-container></toaster-container> </td>
                                   </form>-->
                                    <form>
                                            <td class="first-td">
                                                <span class="minus-user"></span>
                                                <input [(ngModel)]="post.description" name="description"  id ="description" #description (change)="update(post)"/>
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="post.barcode" name="barcode" id ="barcode" (change)="update(post)" #barcode/>
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="post.price" name="price" id ="price" (change)="update(post)" #price/>
                                            </td>
                                            <td>
                                                <input type="text" [(ngModel)]="post.taxable" name="taxable" id="taxable" (click)="toggletaxable(post)" (change)="update(post)" #taxable/>
                                            </td>
                                            <td style="display: none">
                                                <input type="hidden" [(ngModel)]="post._id" name="id" id="id" #id> 
                                            </td>
                                    </form>
                            </tr> 
                    </tbody>
                </table>
            </div>
        </div>
</div>

