 <div class="mainwrapper">
        <div class="col-xs-4">
            <div class="body_header">
                <div class="container">
                    <div class="contact" style="float: right;height: auto;margin-top: -5%;margin-right: 37%;">
                        <ul>
                            <li class="logout-bg" ><a [routerLink]="['/login']" class="logout-bg"></a></li>
                            <li class="admin-bg"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="location-bg">
            <div class="body_content_view_main location_cont">
                <div class="location_cont_main">
                <div class="location_cont_main_title">
                    <div class="col-xs-12"><img src="app/components/images/location-title.png" alt=""></div>
                    
                </div>
                <div class="location_cont_main_body">
                    <div class="location_box">
                        <div class="col-xs-4"><img src="app/components/images/add_location.png" alt=""></div>
                        <div class="col-xs-4"><img src="app/components/images/view_location.png" alt=""></div>
                        <div class="col-xs-4"><img src="app/components/images/retire_location.png" alt=""></div>
                    </div>
                    <div class="search_location_area">
                        <div class="search_location_area_main">
                            <img src="app/components/images/location-src.png" alt="">
                            <h2>Search for Location by Name</h2>
                            <div class="search_location_area_main_secrch">
                                <input class="text_l" type="text" placeholder="Search">
                            </div>
                            <div class="view_all_location">
                            <span>
                                View All Locations<img src="app/components/images/view_all_location.png" alt="">
                            </span>
                            
                            </div>
                        </div>

