<div class="body_content_view_main location_cont">
    <div class="location_cont_main">
        <div class="body_content_view_content">
            <div class="body_content_view_content_top">
                <div class="col-xs-4"><h3>Signup</h3></div>
                    <div class="col-md-6 col-md-offset-3">
                            <div class="login jumbotron center-block">
                                <div class="login jumbotron center-block">
                                    <form role="form" (submit)="signup($event, phoneno.value, passcode.value)">
                                        <div class="form-group">
                                            <label for="phoneno">Phone No</label>
                                            <input type="text" #phoneno class="form-control" id="phoneno" placeholder="Phone No">
                                        </div>
                                        <div class="form-group">
                                            <label for="passcode">Password</label>
                                            <input type="password" #passcode class="form-control" id="passcode" placeholder="Password">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Signup</button>
                                        <a [routerLink]="['/login']">Login</a>
                                    </form>
                                </div>
                                </div>
                            </div>
                     </div>
                </div>
        </div>